// Custom.scss
// Option B: Include parts of Bootstrap
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
// 2. Include any default variable overrides here
$body-bg: #1e3358;
$body-color: #fff;
$register-gradient: linear-gradient(90deg, #4d2e90 6.48%, #036bac 58.84%, #28a2c6 82.45%, #3ec2d5 97.93%);
$workshop-gradient: linear-gradient(#4d2e90 6.48%, #ec297b 58.84%, #ee4747 81.77%, #f05a28 97.93%);
$font-family-sans-serif: 'Titillium Web',
sans-serif;
$font-size-base: 1.5rem;
$h1-font-size: $font-size-base * 5.56;
$h2-font-size: $font-size-base * 1.33;
$h3-font-size: $font-size-base;
$h4-font-size: $font-size-base * 0.78;
.btn-register {
    background: $register-gradient;
}

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/bootstrap";
// 5. Add additional custom code here
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');