//dig styles
$dig-blue: #1e3358;
$dig-orange: #f15a29;
$dig-dark-blue: #13223c;
$dig-light-grey: #F2F2F2;
$register-gradient: linear-gradient(135deg, #4d2e90 6.48%, #036bac 58.84%, #28a2c6 82.45%, #3ec2d5 97.93%);
$workshop-gradient: linear-gradient(90deg, #4d2e90 6.48%, #ec297b 58.84%, #ee4747 81.77%, #f05a28 97.93%);
$font-family-sans-serif: 'Titillium Web',
sans-serif;
//bootstrap overrides
$body-bg: $dig-blue;
$body-color: #fff;
$link-color: $dig-light-grey;
$headings-margin-bottom: 0rem;
$font-size-base: 1.13rem;
$h1-font-size: $font-size-base * 5.56;
$h2-font-size: $font-size-base * 1.33;
$h3-font-size: $font-size-base * 1.11;
$h4-font-size: $font-size-base;
$h5-font-size: $font-size-base * 0.78;
//bootstrap import
@import "../node_modules/bootstrap/scss/bootstrap";
// custom classes
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.btn-register {
    background: $register-gradient no-repeat;
    border-radius: $border-radius-pill;
    text-transform: uppercase;
}

.hero {
    z-index: -999;
}

.text-dig-orange {
    color: $dig-orange;
}

.bg-dig-orange {
    background-color: $dig-orange;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.workshop-card {
    background: $workshop-gradient no-repeat;
    border-radius: $border-radius-lg;
    width: 15rem;
    height: 14.125rem;
    animation: .3s ease-in-out fadein;
}

.event-date {
    background-color: white;
    border-radius: $border-radius-lg;
    width: 4.375rem;
    height: 4.375rem;
    color: $dig-dark-blue;
}

.filter-icon {
    height: $font-size-base;
}

.icon::before {
    display: none;
}

.dig-check::after {
    font-family: "Font Awesome 5 Pro";
    content: "\f0c8";
    font-size: $font-size-base;
    font-weight: 900;
}

[type="checkbox"]:checked~.dig-check::after {
    font-family: "Font Awesome 5 Pro";
    content: "\f14a";
    font-size: $font-size-base;
    font-weight: 900;
}

h1,
h2,
h3,
h4,
h5 {
    letter-spacing: 0.08em;
}

.social-item {
    color: white;
    font-size: $font-size-base * 1.33;
    margin-left: $font-size-base * 1.33;
}