<div class="container">
	<footer class="d-flex flex-column flex-sm-row justify-content-between py-5">
		<img src="{{ entry.altLogo.one().getUrl }}" alt="">
		<div id="social-accounts-block" class="d-flex flex-column align-content-end">
			<h4 class="text-uppercase fw-bold">CONNECT AND SHARE</h4>
			{% include "_components/social-media-list" %}
		</div>
	</footer>
</div>
