<div class="container">
	<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
		<a href="{{ siteUrl }}" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
			<img src="{{ entry.logo.one().getUrl }}" alt="">
		</a>

		<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
			{% for block in entry.navigation %}
				<li class="nav-link px-2 link-secondary">
					<h4>{{ block.itemTitle }}</h4>
				</li>
			{% endfor %}
		</ul>

		<div class="col-md-3 text-end">
			<button type="button" class="btn btn-register">
				<h3>Register</h3>
			</button>
		</div>
	</header>
</div>
