<section id="hero" style="background: url('{{ entry.heroBackgroundImage.getUrl }}') no-repeat cover" class="position-absolute top-0 bottom-0 left-0 right-0">
	<h1>{{ entry.heroHeading}}</h1>
	<h2>{{ entry.heroSubHeading }}</h2>
</section>
