<section id="hero" style="background-image: url('{{ entry.heroBackgroundImage.one().getUrl }}'); background-repeat: no-repeat; background-position: cover; " class="hero position-absolute top-0 left-0 vw-100 vh-100">
	<div class="container">
		<h1>{{ entry.heroHeading}}</h1>
		<h2>{{ entry.heroSubHeading }}</h2>
	</div>
</section>
