<section id="feeds" class="border-top border-bottom border-white">
	<section id="feed-wrapper" class="container d-flex flex-column flex-lg-row">
		<div id="events" class="w-50 border-end border-white">
			{% include "_components/events-feed" %}
		</div>
		<div id="news" class="w-50">
			{% include "_components/news-feed" %}
		</div>
	</section>
</section>
