<section id="hero" style="background-image: url('{{ entry.heroBackgroundImage.one().getUrl }}'); background-repeat: no-repeat; background-position: cover; " class="hero position-absolute top-0 left-0 vw-100 vh-100 d-flex justify-content-start align-items-center">
	<div class="container">
		<h1 class="fw-bold">{{ entry.heroHeading}}</h1>
		<h2 class="dig-orange fw-bold">{{ entry.heroSubHeading }}</h2>
	</div>
</section>
