<section id="workshops" class="container my-5">
	<h2>{{ entry.workshopsHeading}}</h2>
	<h5>{{ entry.workshopsSubHeading }}</h5>
	<section id="filter-bar" class="bg-dig-orange w-100 py-4 d-flex my-5"></section>
	<section id="workshop-cards" class="d-flex flex-wrap flex-row justify-content-center">
		{% for entry in craft.entries.section('workshops') %}
			<article id="workshop" class="workshop-card">
					<h4 class="fw-bold">{{ entry.title }}</h4>
			</article>
		{% endfor %}
	</section>
</section>
