{% do view.registerCssFile("/assets/css/styles.css") %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="referrer" content="no-referrer"/>
		<meta charset="UTF-8">
		<link rel="icon" href="favicon.ico"/>
		<script data-search-pseudo-elements src="https://kit.fontawesome.com/66cab75abc.js" crossorigin="anonymous"></script>
				<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>DIG Conference</title>
	</head>
	<body class="test">
		{% block header %}{% endblock %}
		{% block main %}{% endblock %}
		{% block footer %}{% endblock %}
	</body>
</html>
