<div id="event-feed" class="w-100 d-flex flex-column align-items-start py-5 pe-5">
	<h2 class="fw-bold ">{{ entry.eventsFeedHeading}}</h2>
	{% for event in craft.entries.section('events') %}
		<article id="event" class="d-flex w-100 flex-row border-bottom{% if loop.last == true %}-0{% endif %} border-white py-4">
        <div id="event-date" class="event-date">
        <h4 class="text-center text-uppercase">{{ event.eventTimes.formatted.start("M") }}</h4>
        </div>
			<div id="event-title" class="d-flex flex-column ps-3">
				<h4 class="fw-bold">{{ event.title }}</h4>
				<h5 class="">{{ event.eventTimes.formatted("g:i a", "-"|t) }}</h5>
			</div>
		</article>
	{% endfor %}
	<h4 class="align-self-end fw-bold">View All</h4>
</div>
