<div id="news-feed" class="w-100 d-flex flex-column align-items-start py-5 ps-5">
<h2 class="fw-bold ">{{ entry.newsFeedHeading}}</h2>
	{% for news in craft.entries.section('news').all() %}
		<article id="news" class="d-flex flex-column w-100 border-bottom{% if loop.last == true %}-0{% endif %} border-white py-4">
			{{ news.title }}
		</article>
	{% endfor %}
    <h4 class="align-self-end fw-bold">View All</h4>
</div>
